@page
@model Asm2_PetShop.Pages.pet.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Pet</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pet.PetName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pet.PetName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pet.ImportDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pet.ImportDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pet.PetDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pet.PetDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pet.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pet.Quantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pet.PetPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pet.PetPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pet.PetGroup)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pet.PetGroup.PetGroupId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Pet?.PetId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
